<<<<<<< HEAD
/*
Theme Name: Nadine Theme
Theme URI: #
Author: Cameron Boyle
Author URI: http://cameronboyle.com.au/
Description: A semantic, HTML5, canvas for CSS artists and an ultra-minimal set of super-clean templates for your own WordPress theme development.
Template: the-bootstrap
Version: 1.0
*/

@import url ('../the-bootstrap/styles.css');

select.filters { width:100%; }

#portfolio-grid { margin-left:-35px; }
#portfolio-grid .item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:241px; margin:0; padding:15px 0 15px 35px; position:relative; }
#portfolio-grid .item-inner { position:relative; }
#portfolio-grid .hover-caption {  opacity:0; color:#fff; text-decoration:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#222; background:rgba(0,0,0,0.60); border-radius:3px; text-shadow:0 -1px 0 rgba(0,0,0,0.95); font-size:13px; -webkit-transition: opacity 0.4s ease-in-out; -moz-transition: opacity 0.4s ease-in-out; -o-transition: opacity 0.4s ease-in-out; transition: opacity 0.4s ease-in-out; }
#portfolio-grid .hover-caption .caption-inner { padding: 20% 12%; }
#portfolio-grid .hover-caption:hover { opacity:0.90; }
#portfolio-grid .hover-caption h2 { font-size:15px; line-height:16px; margin:0 0 10px; }

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
=======
/*
Theme Name: Nadine Theme
Theme URI: #
Author: Cameron Boyle
Author URI: http://cameronboyle.com.au/
Description: A semantic, HTML5, canvas for CSS artists and an ultra-minimal set of super-clean templates for your own WordPress theme development.
Template: the-bootstrap
Version: 1.0
*/

@import url ('../the-bootstrap/styles.css');

select.filters { width:100%; }

#portfolio-grid { margin-left:-35px; }
#portfolio-grid .item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:241px; margin:0; padding:15px 0 15px 35px; position:relative; }
#portfolio-grid .item-inner { position:relative; }
#portfolio-grid .hover-caption {  
	opacity:0; color:#fff; 
	text-decoration:none; 
	position:absolute; 
	top:0; left:0; 
	width:100%; 
	height:100%; 
	background: red; 
	background:rgba(0,0,0,0.60); 
	border-radius:3px; 
	text-shadow:0 -1px 0 
	rgba(0,0,0,0.95); 
	font-size:13px; 
	-webkit-transition: opacity 0.4s ease-in-out; 
	-moz-transition: opacity 0.4s ease-in-out; 
	-o-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out; }


#portfolio-grid .hover-caption .caption-inner { padding: 20% 12%; }
#portfolio-grid .hover-caption:hover { opacity:0.90; }
#portfolio-grid .hover-caption h2 { font-size:15px; line-height:16px; margin:0 0 10px; }

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
>>>>>>> Cameron changes
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity; }